.slideContainer {
	display: flex;
	text-align: center;
	align-items: center;
	width: fit-content;
	position: fixed;
	bottom: 2rem;
	margin-left: 50%;
	transform: translateX(-50%);
}

.slider {
	opacity: 0.7;
	width: 140px;
	transition: opacity 0.2s;
	margin: 0 3rem;
}

.slider:hover {
	opacity: 1;
}